<!DOCTYPE html>
<html lang="en">
  <head>
    {{template "general/header"}}

    <style>
      #user-element {
        display: none;
      }
    </style>
  </head>
  <body>
    <!-- beginanswer -->
    <div
      class="font-rubik bg-cover"
      style="background-image: url('https://i.ibb.co/6wbsF6J/bg-blur1-min.jpg')"
    >
      <header class="absolute inset-x-0 top-0 z-50">
        <nav
          class="bg-white backdrop-filter backdrop-blur-lg flex items-center justify-between p-4 lg:px-4"
          aria-label="Global"
        >
          <div class="lg:flex lg:flex-1 lg:justify-start gap-3">
            <a href="#" class="-m-1.5 p-1.5 flex flex-row gap-3">
              <img
                class="h-14 w-auto"
                src="https://upload.wikimedia.org/wikipedia/commons/9/93/Taskful_Logo.svg"
                alt=""
              />
              <span class="py-4 text-stone-700 font-semibold">
                <h1>Home</h1>
              </span>
            </a>
          </div>
          <div class="flex lg:hidden">
            <button
              type="button"
              class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700"
            >
              <span class="sr-only">Menu</span>
              <svg
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                aria-hidden="true"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
                />
              </svg>
            </button>
          </div>
          <div class="hidden lg:flex lg:flex-1 lg:justify-end gap-3">
            <a
              href="/client/register"
              class="btn btn-active btn-info text-white"
              style="padding-right: 20px"
              >Register</a
            >
            <a href="/client/login" class="btn btn-active btn-primary"
              >Log in</a
            >
          </div>
        </nav>
        <!-- Mobile menu, show/hide based on menu open state. -->
        <div class="lg:hidden" role="dialog" aria-modal="true">
          <!-- Background backdrop, show/hide based on slide-over state. -->
          <div class="fixed inset-0 z-50"></div>
          <div
            class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10"
          >
            <div class="flex items-center justify-between">
              <a href="#" class="-m-1.5 p-1.5">
                <span class="sr-only">Ruangguru</span>
                <img
                  class="h-8 w-auto"
                  src="https://upload.wikimedia.org/wikipedia/commons/9/93/Taskful_Logo.svg"
                  alt=""
                />
              </a>
              <button
                type="button"
                class="-m-2.5 rounded-md p-2.5 text-gray-700"
              >
                <span class="sr-only">Close menu</span>
                <svg
                  class="h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M6 18L18 6M6 6l12 12"
                  />
                </svg>
              </button>
            </div>
            <div class="mt-6 flow-root">
              <div class="-my-6 divide-y divide-gray-500/10">
                <div class="py-6">
                  <a
                    href="/client/register"
                    class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                    >Register</a
                  >
                  <a
                    href="/client/login"
                    class="-mx-3 block rounded-lg px-3 py-2.5 text-base font-semibold leading-7 text-gray-900 hover:bg-gray-50"
                    >Log in</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>

      <div class="relative isolate px-6 pt-14 lg:px-8">
        <div class="mx-auto max-w-2xl py-32 sm:py-48 lg:py-56">
          <div class="text-center">
            <h1
              class="text-4xl font-bold tracking-tight text-indigo-700 sm:text-6xl"
            >
              Task Tracker Plus
            </h1>
            <p class="mt-6 text-lg leading-8 font-bold text-stone-700">
              Final Course Project for SIKM Ruangguru Batch 4
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- endanswer -->
  </body>
</html>
