{{define "general/header"}}
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap"
  rel="stylesheet"
/>
<link
  href="https://cdn.jsdelivr.net/npm/daisyui@3.1.5/dist/full.css"
  rel="stylesheet"
  type="text/css"
/>
<title>Task Tracker Plus</title>
<link rel="icon" type="image/x-icon" href="https://upload.wikimedia.org/wikipedia/commons/9/93/Taskful_Logo.svg">
<script src="https://cdn.tailwindcss.com"></script>
<script src="jquery-3.6.0.min.js"></script>
<script>
  tailwind.config = {
    theme: {
      container: {
        center: true,
        padding: "2rem",
        width: "100%",
      },
      FontFace: {
        rubik: {
          family: "Rubik",
          weight: 400,
          style: "normal",
          src: "url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap')",
          unicodeRange:
            "U+000-5FF, U+600-6FF, U+700-8FF, U+900-FF, U+1000-109F, U+1200-139F, U+1800-18AF, U+1E00-1EFF",
        },
      },
      fontFamily: {
        rubik: ["Rubik", "sans-serif"],
      },
      table: {},
    },
    variants: {
      extend: {
        backgroundColor: ["even"],
      },
    },
  };
</script>
<style>
  .group:hover .group-hover\:flex {
    display: flex !important;
  }

  html {
    font-family: "Rubik", sans-serif;
  }
</style>
{{end}}