<!DOCTYPE html>
<html lang="en">
<head>
    {{template "general/header"}}
</head>
<body>
    <!-- beginanswer -->
    <div class="font-rubik flex items-center justify-center min-h-screen bg-cover" style="background-image: url('https://i.ibb.co/6wbsF6J/bg-blur1-min.jpg');">
        <div class="w-full max-w-md px-8 py-10 mt-4 text-left bg-white shadow-lg rounded-lg bg-opacity-90">
            <h3 class="text-2xl font-bold text-indigo-700 text-center mb-6">Login to your account</h3>
            <form method="POST" action="/client/login/process">
                <div>
                    <div class="mt-4">
                        <label class="block mb-2 text-stone-700" for="email">Email</label>
                        <input type="email" placeholder="Enter your email" class="w-full bg-white px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-600" name="email">
                    </div>
                    <div class="mt-4">
                        <label class="block mb-2 text-stone-700" for="password">Password</label>
                        <input type="password" placeholder="Enter your password" class="w-full bg-white px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-600" name="password">
                    </div>
                    <div class="flex items-center justify-center mt-6 gap-10">
                        <a href="/client/register" class="text-sm text-stone-700 hover:underline">Register</a>
                        <button type="submit" class="btn btn-sm btn-active btn-primary">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- endanswer -->
</body>
</html>